:root{
--primary-color:white;
}
.primary-color{
    color:var(--primary-color)
}
/* img hover zoom in */
.inner-img {
    transition: 2s;
    overflow: hidden;
  }
  .inner-img:hover {
    transform: scale(1.1);
  }
/* banner-1 */
.banner-1{
    background-image: url(./img/banner-1.jpg);
    background-attachment: fixed;
    position: relative;
    background-position:50%;
    background-size: cover;
}
/* banner-1 and banner-2 both codeing */
.banner-1-button{
    padding:10px 60px !important;
    position: relative;
    background-color: black;
    text-decoration: none;
}
.banner-1-button-border::after{
content: "";
position: absolute;
top: 7px;
left: 7px;
width: 100%;
height: 100%;
border:1px solid black;
z-index: 0;
}
.banner-1-button:hover{
color:black !important;
background-color: white !important;
}
.headline-1{
border-bottom: 1px solid black;
}
.headline-2{
    background: linear-gradient(120deg, #FFFFFF, #FFFFFF);
    background-position: 0 90%;
    background-repeat: no-repeat;
    background-size: 100% 30%;
}
/* banner-2 */
.banner-2{
    background-image: url(./img/banner-2.jpg);
    background-attachment: fixed;
    position: relative;
    background-position:50%;
    background-size: cover;
}
/* swiper design */
.swiper {
    width: 100%;
    height: 80%;
  }
  .swiper-button-prev,
.swiper-button-next {
	width: 15px !important;
	height: 15px !important;
	margin-top: -16px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
	font-size: 16px !important;
    color:black;
    border: 1px solid black;
    padding:5px 8px;
    border-radius: 50%;
}
.card:hover img{
    border-bottom:2px solid  brown;
}
.card:hover h6{
    color:brown;
    /* border:1px solid solid; */
}
/* poster-1and 2 */
/* .poster-1{
    background-image: url(./img/birthdy-collections.jpg);
    background-size: cover;
    min-height: 80vh;
} */
/* .poster-2{
    background-image: url(./img/summer.jpg);
    background-size: cover;
    min-height: 80vh;
} */
.img-poster{
bottom:50px;
right: 25%;
}
/* product */
.product-overlay{
   bottom:27%;
   right: 31%;
   opacity: 0;
   transition:1s;
}
.product-icon-overlay{
    top: 6%;
    right: 10%;
   opacity: 0;
   transition:1s;
}
.product-card:hover .product-icon-overlay{
    opacity: 1;
}
.product-card:hover .product-overlay{
    opacity: 1;
}
.product-card:hover .product-img{
    content: url(./img/arraival-silder-2.jpg);
}
/* product-number */
.product-number:hover{
    color:brown;
}
/* product-icon */
.product-icon-heart-content{
    opacity: 0;
}
.product-icon-heart:hover .product-icon-heart-content{
    opacity: 1;
}
/* f-product */
.img-product{
    bottom: 50px;
    right: 23%;
}
